.navbar {
  width:100%;
  height:8vh;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 3vw;
  background:rgba(255,255,255,.04);
  border-bottom:1px solid rgba(255,255,255,.1);
  backdrop-filter:blur(12px);
  position:sticky;
  top:0;
  z-index:100;
}

.nav-links {
  display:flex;
  gap:2vw;
}



.nav-links a,
.nav-auth a{
  opacity:.8;
  transition:.3s;
}

.nav-links a:hover,
.nav-auth a:hover{
  opacity:1;
}

.nav-auth {
  position: relative;
  display: flex;
  align-items: center;
}

.avatar-wrapper {
  position: relative;
  cursor: pointer;
}

.nav-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

/* hidden by default */
.dropdown-menu {
  position: absolute;
  right: 0;
  top: 48px;
  background: white;
  padding: 12px 14px;
  border-radius: 12px;
  display: none;
  flex-direction: column;
  box-shadow: 0 4px 18px rgba(0,0,0,0.15);
  z-index: 100;
}

.dropdown-menu.show {
  display: flex;
}

.dropdown-menu a,
.dropdown-menu button {
  padding: 8px 4px;
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
  text-align: left;
}



@media(max-width:900px){
  .nav-links {
    display:none;
  }
}
