.loading-wrapper {
  height: 100vh;
  width: 100vw;
  background: #0b0f19;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rupee {
  font-size: 10vh;
  color: #00e676;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 1vh #00e676;
  }
  to {
    text-shadow: 0 0 4vh #00ff99;
  }
}
